<header>
  <h1>
    Matsedel
    <em><%= @current_event.name %></em>
  </h1>
</header>

<p class="back-to-dashboard"><a href="<%= dashboard_path %>">Tillbaka till alla meddelanden</a></p>

<% if @upcoming_food_services.size > 0 %>
  <% @upcoming_food_services.each do |food_service| %>
    <section class="content">
      <%= render 'food_service', food_service: food_service %>
    </section>
  <% end %>
<% else %>
  <p>Inga fler måltider detta event.</p>
<% end %>

<% if @past_food_services.size > 0 %>
  <h2>Tidigare måltider</h2>
  <% @past_food_services.each do |food_service| %>
    <section class="content">
      <%= render 'food_service', food_service: food_service %>
    </section>
  <% end %>
<% end %>
