# Bundler config
/.bundle

# Default SQLite database
/db/*.sqlite3

# Logfiles and tempfiles.
/log/*.log
/tmp

# Private configs
/config/database.yml
/config/unicorn.rb
/config/deploy.rb
/config/newrelic.yml
/config/initializers/crew_corner_oauth.rb
/config/initializers/secret_token.rb

# Proprietary fonts
/app/assets/fonts/dreamhack_thin.*
/app/assets/fonts/dreamhack_normal.*
