@import "../variables";
@import "../mixins";

#admin-nav {
  width: 100%;
  line-height: 40px;
  @include font-dreamhack-thin;
  font-size: $font-size-dreamhack-normal;
  text-transform: uppercase;
  @include background-gradient($orange, darken($orange, 20%));
  color: $white;

  ul {
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    list-style: none;
  }

  a:link, a:visited {
    padding: 0 10px;
    display: block;
    text-decoration: none;
  }
}

#subnav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h2, li a {
    font-size: $font-size-dreamhack-normal;
    padding: 0 10px;
    line-height: 30px;
    border: 1px solid rgba($white, 0.1);
  }

  h2 {
    @include background-gradient(darken($midgrey-alt, 5%), $midgrey-alt);
    border-bottom: 0;
  }

  li a:link, li a:visited {
    @include font-dreamhack-thin;
    text-transform: uppercase;
    display: block;
    @include background-gradient(darken($midgrey, 5%), $midgrey);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li + li a {
    border-top: 0;
  }
}

@media (max-width: 700px) {
  #admin-nav {
    ul {
      border-top: 1px solid rgba($white, 0.2);
    }

    a:link, a:visited {
      border-bottom: 1px solid rgba($white, 0.2);
    }
  }

  #subnav {
    margin: 0 15px 40px;
  }
}

@media (min-width: 700px) {
  body {
    padding-top: 80px;
  }

  #admin-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 1;

    ul {
      border-left: 1px solid rgba($white, 0.2);
    }

    li {
      display: inline-block;
    }

    a:link, a:visited {
      border-right: 1px solid rgba($white, 0.2);
    }
  }

  .subnav #container {
     padding-left: 230px;
     max-width: 770px;
   }

  #subnav {
    position: absolute;
    left: 0;

    .fixed-holder {
      position: fixed;
      width: 180px;
    }
  }
}
