<h1>Sidan kunde inte hittas</h1>
<section class="content">
  <p>Du kan ha skrivit adressen fel eller så har sidan flyttats.<% if @current_person.nil? %> Om du vill komma åt en skyddad sida behöver du först <a href="<%= login_path %>">logga in</a>.<% end %></p>
</section>
