$orange: #ff6600;
$white: #ffffff;
$black: #000000;
$darkgrey: #121212;
$midgrey: #242424;
$midgrey-alt: #363636;
$green: #6ec200;

$font-size-dreamhack-normal: 12px;
$font-size-dreamhack-big: 18px;

$font-size-helvetica-normal: 14px;
