@import "../mixins";
@import "../variables";

input[type=submit], button, .button {
  margin: -2px 0;
  padding: 2px 5px;
  @include background-gradient($orange, darken($orange, 20%));
  color: $white;
  text-decoration: none;
  cursor: default;
  @include border-radius(4px);
}

.errors {
  position: relative;
  background: $midgrey;
  padding: 18px 10px 10px 60px;
  border-top: 3px solid $orange;

  .error-icon {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}